<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.mangareader</string>
	<key>connections</key>
	<dict>
		<key>0C6F33A6-1B9C-414E-8E8A-908BFE7109F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FED7974A-2E67-46CF-832B-469DEBD78500</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0CBA1563-9EC6-405C-83A1-FB05605C00B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C26F2BF-13A6-4E56-812D-ED89B37D6730</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>262BA42A-1EB2-4C34-BB51-F543CF47261A</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Restart from beginning</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>120C8E41-0749-4847-BCD7-0A661679830A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0498A2C-2BCE-4E58-8652-C0F03D17A14D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>fileexists</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E586FA35-5782-4521-AF79-74504891C4D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1AF5848A-4E95-414A-B69D-28A9CA955183</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6C89D98-2FD5-492B-950E-3C90642F8772</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>205A3BA0-4D8D-427D-8426-0A30F8429FCF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8041B93B-F767-4B27-B8B6-7B286EAA4913</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>209E6E0A-65E3-4D97-825F-EF11D15B41A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>818E83D4-2964-4673-9399-D13B32EB6FF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>262BA42A-1EB2-4C34-BB51-F543CF47261A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E99452F6-65DF-4390-84A8-80D63833F439</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37B83BEF-9EA5-4CB6-8373-7F6F549D04B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>209E6E0A-65E3-4D97-825F-EF11D15B41A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3A1F728A-3C5D-40C2-BC17-EE9A831413AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC2682DD-0BAE-4DE5-B239-9BC33BDED67F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B95C4A0-246F-408F-A4C3-89A27EE0E2B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0B7D081-6D04-4C84-9325-DF7D55E52C4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3BCF31C4-9853-4E8C-B6E1-93822B3C1817</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77FA1CDB-1A50-4987-8CDC-14236309FE83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C26F2BF-13A6-4E56-812D-ED89B37D6730</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A733BDF-5D8A-412F-BE88-8672C862C4BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>41EE3683-5515-49B7-830D-424654996231</key>
		<array/>
		<key>4507EB9E-3FBD-4745-A422-9DA4ADC18763</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>41EE3683-5515-49B7-830D-424654996231</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4875381B-8696-4AFD-A725-D69757791264</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FED7974A-2E67-46CF-832B-469DEBD78500</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>77FA1CDB-1A50-4987-8CDC-14236309FE83</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Restart from beginning</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4918550A-9A3C-428F-A28C-6DBEE6554590</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>205A3BA0-4D8D-427D-8426-0A30F8429FCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4E7A6950-572D-436A-BA83-1A92530B48C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AF5848A-4E95-414A-B69D-28A9CA955183</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>503F08D8-5891-4D35-A7DF-C9C5367AF1C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>205A3BA0-4D8D-427D-8426-0A30F8429FCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55C641E5-1FCC-4984-AC15-57A9B35E7AE3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>205A3BA0-4D8D-427D-8426-0A30F8429FCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D3211FD-172C-4461-8846-BABC6B69EF1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6148047-2BF1-45DD-8F5B-096133BDA320</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72A310A0-AE7F-4E1E-ACF7-C28AB751C6D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D3211FD-172C-4461-8846-BABC6B69EF1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>fileexists</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A271EC10-8250-46E4-A5BC-EC3BA441F168</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77B9DE74-7A1F-465A-AA84-5CD616E07A65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4507EB9E-3FBD-4745-A422-9DA4ADC18763</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77FA1CDB-1A50-4987-8CDC-14236309FE83</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FED7974A-2E67-46CF-832B-469DEBD78500</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7FFEECA0-9BF3-4EED-86B7-BF676463DF7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>205A3BA0-4D8D-427D-8426-0A30F8429FCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8041B93B-F767-4B27-B8B6-7B286EAA4913</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72A310A0-AE7F-4E1E-ACF7-C28AB751C6D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>818E83D4-2964-4673-9399-D13B32EB6FF3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>120C8E41-0749-4847-BCD7-0A661679830A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96BC3039-E803-4C2F-B4C4-12E256DC7C43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8170DEB-F034-4C7D-BF09-CDDBD7148239</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>97FA0A60-94AC-4D89-BB64-B24FE20C1297</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37B83BEF-9EA5-4CB6-8373-7F6F549D04B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A271EC10-8250-46E4-A5BC-EC3BA441F168</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2630C26-F47C-426C-BA88-2A3CEB7633ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2630C26-F47C-426C-BA88-2A3CEB7633ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CBA1563-9EC6-405C-83A1-FB05605C00B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6148047-2BF1-45DD-8F5B-096133BDA320</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0B8F4CD-C7DE-4505-A5AD-F8F5D3B79626</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0B8F4CD-C7DE-4505-A5AD-F8F5D3B79626</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED285502-6C28-4EC7-906E-04A83A4FF9E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E586FA35-5782-4521-AF79-74504891C4D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4918550A-9A3C-428F-A28C-6DBEE6554590</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8E934F48-2303-49F1-BFD7-8490FB243DA7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>503F08D8-5891-4D35-A7DF-C9C5367AF1C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>50688646-996C-44A2-A16A-54DE5A6B1F2A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>503F08D8-5891-4D35-A7DF-C9C5367AF1C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D0D824B4-DFED-4448-A4FD-A8D11C359BB6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E6C89D98-2FD5-492B-950E-3C90642F8772</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A1F728A-3C5D-40C2-BC17-EE9A831413AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED285502-6C28-4EC7-906E-04A83A4FF9E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CBA1563-9EC6-405C-83A1-FB05605C00B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0498A2C-2BCE-4E58-8652-C0F03D17A14D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55C641E5-1FCC-4984-AC15-57A9B35E7AE3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>014FEC19-C7AE-488A-BB15-566BFCA5E5E5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7FFEECA0-9BF3-4EED-86B7-BF676463DF7D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8170DEB-F034-4C7D-BF09-CDDBD7148239</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4E7A6950-572D-436A-BA83-1A92530B48C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC2682DD-0BAE-4DE5-B239-9BC33BDED67F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D16581B-F572-42D5-B63D-1BFFD5D4F287</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FED7974A-2E67-46CF-832B-469DEBD78500</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97FA0A60-94AC-4D89-BB64-B24FE20C1297</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Read Manga and Comics</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Manga Reader</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>continue</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>0C6F33A6-1B9C-414E-8E8A-908BFE7109F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function envVar(varName) {
  return $.NSProcessInfo
    .processInfo
    .environment
    .objectForKey(varName).js
}

function alfredArgs(args) {
  return JSON.stringify({ alfredworkflow: { arg: args } })
}

function run(argv) {
  const allImages = argv
  const continueOn = envVar("continue_on")
  const indexSkips = allImages.findIndex(image =&gt; $(image).lastPathComponent.js == continueOn)

  return alfredArgs(allImages.slice(indexSkips))
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ED285502-6C28-4EC7-906E-04A83A4FF9E8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>{var:checksum_file}</string>
					<key>use_finder</key>
					<false/>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.trash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>55C641E5-1FCC-4984-AC15-57A9B35E7AE3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>{var:checksum_file}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/file.read</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>6D3211FD-172C-4461-8846-BABC6B69EF1B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:all_images}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>continue_on</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D6148047-2BF1-45DD-8F5B-096133BDA320</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>
</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>E0B8F4CD-C7DE-4505-A5AD-F8F5D3B79626</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:restart}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Restart</string>
						<key>uid</key>
						<string>014FEC19-C7AE-488A-BB15-566BFCA5E5E5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Continue</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F0498A2C-2BCE-4E58-8652-C0F03D17A14D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>out_format</key>
					<string>sha512</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/text-processing/text.checksum</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>209E6E0A-65E3-4D97-825F-EF11D15B41A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>com.adobe.pdf</string>
					<string>com.vitorgalvao.mangareader.cbz</string>
					<string>public.zip-archive</string>
				</array>
				<key>name</key>
				<string>Read Manga</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>4875381B-8696-4AFD-A725-D69757791264</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.extension</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>97FA0A60-94AC-4D89-BB64-B24FE20C1297</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>fileutivariablename</key>
				<string></string>
				<key>outputfileuti</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.file</string>
			<key>uid</key>
			<string>120C8E41-0749-4847-BCD7-0A661679830A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>compressed_file</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FED7974A-2E67-46CF-832B-469DEBD78500</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:compressed_file}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>extension</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>37B83BEF-9EA5-4CB6-8373-7F6F549D04B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>/tmp/{const:alfred_workflow_bundleid}/{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>checksum_file</key>
					<string>{const:alfred_workflow_cache}/{query}.txt</string>
					<key>export_dir</key>
					<string>/tmp/{const:alfred_workflow_bundleid}/{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>818E83D4-2964-4673-9399-D13B32EB6FF3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>7FFEECA0-9BF3-4EED-86B7-BF676463DF7D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:extension}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>pdf</string>
						<key>outputlabel</key>
						<string>PDF</string>
						<key>uid</key>
						<string>8E934F48-2303-49F1-BFD7-8490FB243DA7</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:extension}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>cbz</string>
						<key>outputlabel</key>
						<string>CBZ</string>
						<key>uid</key>
						<string>50688646-996C-44A2-A16A-54DE5A6B1F2A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:extension}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>zip</string>
						<key>outputlabel</key>
						<string>ZIP</string>
						<key>uid</key>
						<string>D0D824B4-DFED-4448-A4FD-A8D11C359BB6</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E586FA35-5782-4521-AF79-74504891C4D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/find "${export_dir}" -type f | sort --human-numeric-sort</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>205A3BA0-4D8D-427D-8426-0A30F8429FCF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>out_format</key>
					<string>png</string>
					<key>resolution</key>
					<string>144</string>
					<key>save_in</key>
					<string>{var:export_dir}</string>
					<key>target_path</key>
					<string>{var:compressed_file}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/pdf-manipulation/pdf.pages.save-as.images</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>4918550A-9A3C-428F-A28C-6DBEE6554590</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>restart</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>77FA1CDB-1A50-4987-8CDC-14236309FE83</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>imageresizemode</key>
				<integer>1</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.image</string>
			<key>uid</key>
			<string>0CBA1563-9EC6-405C-83A1-FB05605C00B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<false/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>{var:checksum_file}</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>-1</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>2A733BDF-5D8A-412F-BE88-8672C862C4BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.basename</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>3C26F2BF-13A6-4E56-812D-ED89B37D6730</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>fileutivariablename</key>
				<string></string>
				<key>outputfileuti</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.file</string>
			<key>uid</key>
			<string>72A310A0-AE7F-4E1E-ACF7-C28AB751C6D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:checksum_file}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>all_images</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8041B93B-F767-4B27-B8B6-7B286EAA4913</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>restart</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>3BCF31C4-9853-4E8C-B6E1-93822B3C1817</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>
</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>C2630C26-F47C-426C-BA88-2A3CEB7633ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:all_images}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A271EC10-8250-46E4-A5BC-EC3BA441F168</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/ditto -xk "${compressed_file}" "${export_dir}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>503F08D8-5891-4D35-A7DF-C9C5367AF1C5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>restart</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>E99452F6-65DF-4390-84A8-80D63833F439</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:compressed_file}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>262BA42A-1EB2-4C34-BB51-F543CF47261A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Determine file name
readonly first_file="${1}"
readonly deduced_name="$(printf '%s' "$(/usr/bin/basename "${first_file%.*}")" |
  /usr/bin/sed -E 's/\.[^.]+$//' | # Remove extension
  /usr/bin/sed -E 's/(c|chap|chapter|v|vol|volume) *[0-9]+//i' | # Remove volume/chapter numbers
  /usr/bin/sed -E 's/ +$//' # Remove trailing spaces
)"

# If target file exists, append date
readonly target_dir="$(/usr/bin/dirname "${first_file}")"
target_file="${target_dir}/${deduced_name}.${target_extension}"

while [[ -e "${target_file}" ]]
do
  sleep 1
  target_file="${target_dir}/${deduced_name}-$(date +%s).${target_extension}"
done

# Cleanup
readonly tmp_dir="$(/usr/bin/mktemp -d)"
trap 'rm -rf "${tmp_dir}"' EXIT

# Extract archives
for file in "${@}"
do
  extract_dir="${tmp_dir}/$(/usr/bin/basename "${file%.*}")"
  /bin/mkdir "${extract_dir}"
  /usr/bin/ditto -xk "${file}" "${extract_dir}"
done

# Compress
DITTONORSRC=1 ditto -ck "${tmp_dir}" "${target_file}"

# Notification
./notificator --title "${alfred_workflow_name}" --subtitle 'Finished Merging' --message "${target_file}" --sound 'Ping'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>41EE3683-5515-49B7-830D-424654996231</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>2</integer>
				<key>filetypes</key>
				<array>
					<string>com.vitorgalvao.mangareader.cbz</string>
				</array>
				<key>name</key>
				<string>Merge Chapters</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>77B9DE74-7A1F-465A-AA84-5CD616E07A65</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>target_extension</key>
					<string>cbz</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4507EB9E-3FBD-4745-A422-9DA4ADC18763</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/argument-processing/argument.sort</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>3A1F728A-3C5D-40C2-BC17-EE9A831413AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Determine file name
readonly first_file="${1}"
readonly deduced_name="$(printf '%s' "$(/usr/bin/basename "${first_file%.*}")" |
  /usr/bin/sed -E 's/\.[^.]+$//' | # Remove extension
  /usr/bin/sed -E 's/(c|chap|chapter|v|vol|volume)? *[0-9]+//i' | # Remove volume/chapter numbers
  /usr/bin/sed -E 's/ +$//' # Remove trailing spaces
)"

# If target file exists, append date
readonly target_dir="$(/usr/bin/dirname "${first_file}")"
target_file="${target_dir}/${deduced_name}.${target_extension}"

while [[ -e "${target_file}" ]]
do
  sleep 1
  target_file="${target_dir}/${deduced_name}-$(date +%s).${target_extension}"
done

# Output file path
echo -n "${target_file}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4E7A6950-572D-436A-BA83-1A92530B48C3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/bin/mv "${1}" "${target_file}"

# Notification
./notificator --title "${alfred_workflow_name}" --subtitle 'Finished Merging' --message "${target_file}" --sound 'Ping'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6D16581B-F572-42D5-B63D-1BFFD5D4F287</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>2</integer>
				<key>filetypes</key>
				<array>
					<string>com.adobe.pdf</string>
				</array>
				<key>name</key>
				<string>Merge Chapters</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>96BC3039-E803-4C2F-B4C4-12E256DC7C43</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>save_in</key>
					<string>/tmp/{const:alfred_workflow_bundleid}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/pdf-manipulation/path.join.pdf</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>FC2682DD-0BAE-4DE5-B239-9BC33BDED67F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:file_list}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>target_file</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1AF5848A-4E95-414A-B69D-28A9CA955183</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>	</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>E6C89D98-2FD5-492B-950E-3C90642F8772</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>file_list</key>
					<string>{query}</string>
					<key>target_extension</key>
					<string>pdf</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F8170DEB-F034-4C7D-BF09-CDDBD7148239</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>:mangahelper</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Make macOS aware of it and set an identifier for CBZ files</string>
				<key>text</key>
				<string>Reveal Helper App in the Finder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3B95C4A0-246F-408F-A4C3-89A27EE0E2B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>Manga Reader Helper.app</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>C0B7D081-6D04-4C84-9325-DF7D55E52C4C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Setup

Reveal the Helper app in the Finder via the `:mangahelper` keyword. This is enough for macOS to become aware of it and set an identifier for CBZ files.

![Show helper app in Finder](images/about/helper.png)

You can associate CBZ files with the app so they open in Alfred by default.

## Usage

Read Manga and Comic Books via the [Universal Action](https://www.alfredapp.com/help/features/universal-actions/). Supported formats include CBZ, ZIP, and PDF.

![Universal Action to initiate reading](images/about/ua.png)

![Reading pages](images/about/reading.png)

* &lt;kbd&gt;←&lt;/kbd&gt; Previous page.
* &lt;kbd&gt;→&lt;/kbd&gt; Next page.
* &lt;kbd&gt;↩&lt;/kbd&gt; Save current position and exit.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Restart from beginning.

When rerunning the Universal Action on the same file in the same location, pages prior to the last saved position are excluded. To reinclude all pages and start from the beginning, use the Universal Action with &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt;.

Merge different chapters into a single file via the `Merge Chapters` Universal Action.

![Universal Action to merge chapters](images/about/merge.png)</string>
	<key>uidata</key>
	<dict>
		<key>0C6F33A6-1B9C-414E-8E8A-908BFE7109F3</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>0CBA1563-9EC6-405C-83A1-FB05605C00B4</key>
		<dict>
			<key>xpos</key>
			<real>2490</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>120C8E41-0749-4847-BCD7-0A661679830A</key>
		<dict>
			<key>note</key>
			<string>Check for exported folder</string>
			<key>xpos</key>
			<real>970</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>1AF5848A-4E95-414A-B69D-28A9CA955183</key>
		<dict>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>205A3BA0-4D8D-427D-8426-0A30F8429FCF</key>
		<dict>
			<key>xpos</key>
			<real>1540</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>209E6E0A-65E3-4D97-825F-EF11D15B41A4</key>
		<dict>
			<key>xpos</key>
			<real>665</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>262BA42A-1EB2-4C34-BB51-F543CF47261A</key>
		<dict>
			<key>xpos</key>
			<real>2730</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>2A733BDF-5D8A-412F-BE88-8672C862C4BC</key>
		<dict>
			<key>note</key>
			<string>Save page</string>
			<key>xpos</key>
			<real>2865</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>37B83BEF-9EA5-4CB6-8373-7F6F549D04B9</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>3A1F728A-3C5D-40C2-BC17-EE9A831413AF</key>
		<dict>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>665</real>
		</dict>
		<key>3B95C4A0-246F-408F-A4C3-89A27EE0E2B1</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>830</real>
		</dict>
		<key>3BCF31C4-9853-4E8C-B6E1-93822B3C1817</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>3C26F2BF-13A6-4E56-812D-ED89B37D6730</key>
		<dict>
			<key>xpos</key>
			<real>2690</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>41EE3683-5515-49B7-830D-424654996231</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>4507EB9E-3FBD-4745-A422-9DA4ADC18763</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>4875381B-8696-4AFD-A725-D69757791264</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>4918550A-9A3C-428F-A28C-6DBEE6554590</key>
		<dict>
			<key>xpos</key>
			<real>1305</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>4E7A6950-572D-436A-BA83-1A92530B48C3</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>665</real>
		</dict>
		<key>503F08D8-5891-4D35-A7DF-C9C5367AF1C5</key>
		<dict>
			<key>note</key>
			<string>Extract file</string>
			<key>xpos</key>
			<real>1305</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>55C641E5-1FCC-4984-AC15-57A9B35E7AE3</key>
		<dict>
			<key>xpos</key>
			<real>1305</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>6D16581B-F572-42D5-B63D-1BFFD5D4F287</key>
		<dict>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>665</real>
		</dict>
		<key>6D3211FD-172C-4461-8846-BABC6B69EF1B</key>
		<dict>
			<key>xpos</key>
			<real>1945</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>72A310A0-AE7F-4E1E-ACF7-C28AB751C6D7</key>
		<dict>
			<key>note</key>
			<string>Check for checksum file</string>
			<key>xpos</key>
			<real>1815</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>77B9DE74-7A1F-465A-AA84-5CD616E07A65</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>77FA1CDB-1A50-4987-8CDC-14236309FE83</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>7FFEECA0-9BF3-4EED-86B7-BF676463DF7D</key>
		<dict>
			<key>xpos</key>
			<real>1345</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>8041B93B-F767-4B27-B8B6-7B286EAA4913</key>
		<dict>
			<key>xpos</key>
			<real>1710</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>818E83D4-2964-4673-9399-D13B32EB6FF3</key>
		<dict>
			<key>note</key>
			<string>Checksum variables</string>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>96BC3039-E803-4C2F-B4C4-12E256DC7C43</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>665</real>
		</dict>
		<key>97FA0A60-94AC-4D89-BB64-B24FE20C1297</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>A271EC10-8250-46E4-A5BC-EC3BA441F168</key>
		<dict>
			<key>xpos</key>
			<real>2115</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>C0B7D081-6D04-4C84-9325-DF7D55E52C4C</key>
		<dict>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>830</real>
		</dict>
		<key>C2630C26-F47C-426C-BA88-2A3CEB7633ED</key>
		<dict>
			<key>xpos</key>
			<real>2215</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>D6148047-2BF1-45DD-8F5B-096133BDA320</key>
		<dict>
			<key>xpos</key>
			<real>2115</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>E0B8F4CD-C7DE-4505-A5AD-F8F5D3B79626</key>
		<dict>
			<key>xpos</key>
			<real>2215</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>E586FA35-5782-4521-AF79-74504891C4D1</key>
		<dict>
			<key>xpos</key>
			<real>1130</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>E6C89D98-2FD5-492B-950E-3C90642F8772</key>
		<dict>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>E99452F6-65DF-4390-84A8-80D63833F439</key>
		<dict>
			<key>xpos</key>
			<real>2865</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>ED285502-6C28-4EC7-906E-04A83A4FF9E8</key>
		<dict>
			<key>xpos</key>
			<real>2300</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>F0498A2C-2BCE-4E58-8652-C0F03D17A14D</key>
		<dict>
			<key>xpos</key>
			<real>1130</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>F8170DEB-F034-4C7D-BF09-CDDBD7148239</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>FC2682DD-0BAE-4DE5-B239-9BC33BDED67F</key>
		<dict>
			<key>xpos</key>
			<real>840</real>
			<key>ypos</key>
			<real>665</real>
		</dict>
		<key>FED7974A-2E67-46CF-832B-469DEBD78500</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>25.2</string>
	<key>webaddress</key>
	<string>https://github.com/vitorgalvao/manga-reader-workflow/</string>
</dict>
</plist>
